services:
  backend:
    build: .
    image: connext-backend:latest
    env_file:
      - .env
    container_name: connext
    restart: always
    environment:
      - TZ=Asia/Seoul
    ports:
      - "8080:8080"
    depends_on:
      - redis
  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"